body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    padding: 0;
    background-color: lightgray;
}

.body-content, .body-content > div {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/*

    Landing Page Styles

*/

#landingPage {
    height: 100vh;
    width: 100vw;
    z-index: 5000;
    position: absolute;
    top: -115px;
    left: 0;
    background: url('../App/Public/Images/friendlyLearningLanding.png') 0px -137px / cover no-repeat;
}

.landingButtons {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 15vh 17vh;
}

.landingButtons button {
    width: 15vw;
    height: 10vh;
    margin-right: 4vw;
    font-size: 3em;
    box-shadow: 5px 5px 5px gray;
}

.loginDiv {
    height: 100%;
    width: 100%;
    padding: 0;
}

.loginDiv .buttonTable {
    text-align: center;
    display: table;
    height: 100%;
    padding: 0;
}

.registerWrapper {
    border: 2px solid white;
    padding: 25px;
    border-radius: 25px;
}

#registerForm, #loginForm {
    color: white;
}

#loginForm button, #registerForm button {
    border: 1px solid white;
    background-color: transparent;
}

.forms {
    padding-top: 20vh;
}

.panelPage {
    width: 100%;
    height: 85%;
    border: 1px solid lightblue;
    background-color: #4794A9;
    border-radius: 15px;
}

.regLogSpan {
    width: 50%;
    float: right;
}

.regLogSpan a {
    color: rebeccapurple;
}

/*

    End Landing Page Styles

*/

/*

    Main Page Styles

*/

.mainPanel {
    height: 60vh;
    color: white;
    border: 1px solid white;
    margin: 13vh 0 0 6vw;
    border-radius: 15px;
    box-shadow: 7px 5px 25px lightgray;
}

/*

    End Main Page Styles

*/


/*

    Navbar styles

*/

.navbar-brand {
    position: relative;
    z-index: 2;
    font-size: 3em;
    margin-right: 10vw;
    color: white;
}

.navDiv, #navBar {
    padding: 0;
    border-radius: 0;
    height: 10vh !important;
    background: url('../App/Public/Images/perfect-clouds-wallpapers.jpg') 0px -100px / cover no-repeat;
}

.brandName:hover, .brandName:active, .brandName:visited, .brandName:link {
    color: white;
    text-decoration: none;
}

/*

    End Navbar Styles

*/

/*

    Picture Styles

*/

.imageTable {
    display: table;
}

.animalImg {
    display: table-cell;
    word-wrap: normal;
    border: 1px solid black;
}

/*

    End Picture Styles

*/



















/*

    End Picture Styles

*/