body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.navDiv, #navBar, #navbar-collapse-4 {
    padding: 0;
    border-radius: 0;
    height: 10vh !important;
}

#navbar-collapse-4 {
    padding: 25px;
}

#navBar, #navBar.container-fluid {
    border-radius: 0;
    height: inherit;
}

.mainBody {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

#landingPage {
    height: 100vh;
    width: 100vw;
    z-index: 5000;
    position: absolute;
    top: -97px;
    left: 0;
    background: url('../App/Public/Images/friendlyLearningLanding.png') 0px -137px / cover no-repeat;
}

.landingButtons {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0 0 15vh 17vh;
}

.landingButtons button {
    width: 15vw;
    height: 10vh;
    margin-right: 4vw;
    font-size: 3em;
}

.loginDiv {
    height: 100%;
    width: 100%;
    padding: 0;
}

.loginDiv .buttonTable {
    text-align: center;
    display: table;
    height: 100%;
    padding: 0;
}

.registerWrapper {
    border: 2px solid white;
    padding: 25px;
    border-radius: 25px;
}

#registerForm {
    color: white;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mainPanel {
    height: 60vh;
    border: 1px solid black;
    margin: 13vh 0 0 6vw;
}

/*

    Navbar styles

*/

/*
Code snippet by maridlcrmn for Bootsnipp.com
Follow me on Twitter @maridlcrmn
*/

.navbar-brand {
    position: relative;
    z-index: 2;
}

.navbar-brand.brandName {
    font-size: 3em;
    padding: 3vh;
}

.navbar-nav.navbar-right .btn {
    position: relative;
    z-index: 2;
    padding: 4px 20px;
    margin: 10px auto;
    transition: transform 0.3s;
}

.navbar .navbar-collapse {
    position: relative;
    overflow: hidden !important;
}

    .navbar .navbar-collapse .navbar-right > li:last-child {
        padding-left: 22px;
    }

.navbar .nav-collapse {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding-right: 120px;
    padding-left: 80px;
    width: 100%;
}

.navbar.navbar-default .nav-collapse {
    background-color: #f8f8f8;
}

.navbar.navbar-inverse .nav-collapse {
    background-color: #222;
}

.navbar .nav-collapse .navbar-form {
    border-width: 0;
    box-shadow: none;
}

.nav-collapse > li {
    float: right;
}

.btn.btn-circle {
    border-radius: 5px;
}

.btn.btn-outline {
    background-color: transparent;
}

.navbar-nav.navbar-right .btn:not(.collapsed) {
    background-color: rgb(111, 84, 153);
    border-color: rgb(111, 84, 153);
    color: rgb(255, 255, 255);
}

.navbar.navbar-default .nav-collapse,
.navbar.navbar-inverse .nav-collapse {
    height: auto !important;
    transition: transform 0.3s;
    transform: translate(0px,-50px);
}

    .navbar.navbar-default .nav-collapse.in,
    .navbar.navbar-inverse .nav-collapse.in {
        transform: translate(0px,0px);
    }


@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child {
        padding-left: 15px;
        padding-right: 15px;
    }

    .navbar .nav-collapse {
        margin: 7.5px auto;
        padding: 0;
    }

        .navbar .nav-collapse .navbar-form {
            margin: 0;
        }

    .nav-collapse > li {
        float: none;
    }

    .navbar.navbar-default .nav-collapse,
    .navbar.navbar-inverse .nav-collapse {
        transform: translate(-100%,0px);
    }

        .navbar.navbar-default .nav-collapse.in,
        .navbar.navbar-inverse .nav-collapse.in {
            transform: translate(0px,0px);
        }

        .navbar.navbar-default .nav-collapse.slide-down,
        .navbar.navbar-inverse .nav-collapse.slide-down {
            transform: translate(0px,-100%);
        }

        .navbar.navbar-default .nav-collapse.in.slide-down,
        .navbar.navbar-inverse .nav-collapse.in.slide-down {
            transform: translate(0px,0px);
        }
}

/*

    End Navbar Styles

*/